{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" {% static 'main/css/main.css' %}" type="text/css" media="all" />
    <title>The Spoken Word</title>
  </head>
  <body>
    <!-- header -->
    <div class="header">
        <h1 class="logo">SW</h1>
    </div>
    <!-- header -->
    <!-- navbar -->
    <div class="navbar">
      <ul class="navbar_list">
        <li class="navbar_item">Моя лента</li>
        <li class="navbar_item">Все потоки</li>
        <li class="navbar_item">Разработка</li>
        <li class="navbar_item">Дизайн</li>
        <li class="navbar_item">Маркетинг</li>
        <li class="navbar_item">Научпоп</li>
      </ul>
    </div>
    <!-- navbar -->
    <!-- main -->
    <div class="main_container">
      <main>
        <div class="block_border">
          <div class="post_content">
            <div class="text_content">
              <div class="author_post">
                <img class="user_logo" src="{{ post.img.url }}" alt="user_logo" width="40" height="40">
                <p class="user_name">{{ post.author }}</p> <p class="date_of_publication">{{ post.data }}</p>
              </div>
              <h2 class='post_title'>{{ post.title }}</h2>
              <div class="image_content">
                <img class="post_img" src="{{ post.img.url }}" alt="Image">
              </div>
              <br>
              <p>
                {{ post.description }}
              </p>
              <div class="form-comment">
                <h3>Оставить комментарий</h3>
            </div>
            <div >
                <form action="#" method="post">
                    <div>
                        <label>Ваш комментарий</label>
                        <textarea name="text_comments"></textarea>
                    </div>
                    
                    <div>
                        <label for="Ваше имя"></label>
                        <input type="text" name="name">
                    </div>
                    <div>
                        <label for="Ваш Email"></label>
                        <input type="email" name="email">
                    </div>
                    <div>
                        <input type="submit">
                    </div>
                </form>
            </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- main -->
    <!-- footer -->
    <!-- footer -->
  </body>
</html>